<header>
    <link href="/css/flash-message.css" rel="stylesheet" type="text/css">
</header>
<body>
    <div class="flash-message">
        <div class="flash" id="flash">Flash</div>
    </div>
</body>