<nav>
    <ul>
      <li><a href="/user/books/all.html">My BookList</a></li>
      <li><a href="#">Discovery</a></li>
      <li>
        <%- include('partials/search-bar') %>
      </li>
      <li><a href="/dashboard.html">Dashboard</a></li>
    </ul>
  </nav>
  
  