<nav>
    <ul>
        <li><a href="#">My BookList</a></li>
        <li><a href="#">Discovery</a></li>
        <li><a href="/dashboard.html">Dashboard</a></li>
    </ul>
    <ul>
        <li>
            <%- include('partials/search-bar') %>
        </li>
    </ul>
    <ul>
        <li id="login-link-container">
            <button></button>
        </li>
    </ul>
  </nav>
  
  <!-- include the nav-bar.js file -->
  <script src="/js/nav-bar.js"></script>
  