<header>
    <link href="/css/search-bar.css" rel="stylesheet" type="text/css">
    <script src="/js/search-bar.js"></script>
</header>
<body>
    <div class="search-container">
        <input type="text" id="search-box" placeholder="Search book by keyword..." name="search">
    </div>
</body>