<header>
    <script src="/js/search-bar.js"></script>
    <style>
        #search-box {
            width: 500px;
            height: 40px;
        }
    </style>
</header>
<body>
    <div class="search-container">
        <input type="text" id="search-box" placeholder="Enter to search book by keyword" name="search">
    </div>
</body>