

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div ul {
    display: inline-block;
    text-align: left;
    padding: 0;
    list-style-type: none;
}
#status-message {
    font-weight: bold;
    color:rgb(99, 99, 99)
}