<html>
    <head>
        <link href="/css/book.css" rel="stylesheet" type="text/css">
        <script src="/js/book.js" type="module"></script>
    </head>
    <body>
        <div id="wrapper">
            <h1>
                <span id="title">title</span>
            </h1>
            <%- include('partials/flash-message.ejs') %>
            <div id="content">
                <div id="cover-img-div">
                    <img src="#" alt="title" id="cover-img">
                </div>
                <div id="book-info">
                    <div id="author">
                        <span>Author: </span>
                    </div>
                    <div id="genre">
                        <span>Genre: </span>
                    </div>
                    <div id="page-count">
                        <span>Page Count: </span>
                    </div>
                </div>
            </div>
            <div id="booklist">
                <button type="submit" value="wantToRead" class="add-to-list">Want to Read</button>
                <button type="submit" value="currentlyReading" class="add-to-list">Currently Reading</button>
                <button type="submit" value="read" class="add-to-list">Read</button>
            </div>
            <div id="description">
                <h2>
                    <span>Description</span>
                </h2>
                <div id="description-content">
                </div>
            </div>
        </div>
    </body>
</html>