<html>
    <head>
        <link href="/css/books.css" rel="stylesheet" type="text/css">
        <script src="/js/books.js" type="module"></script>
    </head>
    <body>
        <%- include('partials/layout.ejs') %>
        <div id="books">
        </div>
        <div>
            <a href="" id="loadMore">More results</a>
        </div>
    </body>
</html>