<html>
    <head>
        <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
        <script src="/js/dashboard.js"></script>
    </head>
    <body>
        
        <div class="wrapper">
            <br><br><br>
            <h1>Welcome to the Book Catalogue</h1>
            <p id="status-message"></p>
            <br><br>
            <h2>Here are some things you can do in our website:</h2>
            <br>
            <p> 
                <li>Search books on the search bar above</li>
                <li>Click on books to find out more about them</li>
                <li>Create your own booklist</li>
                <li>Get books recommended to you, this page takes a little time to laod.</li>
                <li>Create some reading goals, and we'll help you reach them!</li>
                <li>Upload custom book covers for your favourite books (in progress)</li>
                <br>
                Feel free to explore using our navigation bar above.
            </p>
        </div>
    
        <script src="/js/dashboard.js"></script>
        
    </body>
</html>