<html>
    <head>
        <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
        <script src="/js/dashboard.js"></script>
    </head>
    <body>
        <%- include('partials/layout.ejs') %>
        
        <div class="wrapper">
            <h1>Welcome to the Dashboard</h1>
            <p>You are now logged in.</p>
            <button id="logout">Logout</button>
        </div>
    
        <script src="/js/dashboard.js"></script>
        <script src="/js/logout.js"></script>
    </body>
</html>