<html>
    <head>
        <style>
            body {background-color: powderblue;}
            h1   {
             color: blue;
             font-family: courier;
            }
        </style>
    </head>
    <body>
        <h1> <center> Website Name </center> </h1>
        <h2> Sign Up/ Sign In </h2>
        <h3> <form>
            Username:<br> <input type="text" name="name">
            <br>
            Password:<br> <input type="text" name="subject">
         </form></h3>
        <h4>
            <button type="button" onclick=NULL>Login</button>
            <button type="button" onclick=NULL'>Create Account</button>
            
        </h4>
    </body>
</html>

