<html>
    <head>
        <link href="/css/login.css" rel="stylesheet" type="text/css">
        <script src="/js/login.js"></script>
    </head>
    <body>
        <h2><center> Sign Up/ Sign In </center></h2>
        <%- include('partials/flash-message.ejs') %>
        <div class="form-center"><center>
            <form id="user-form">
                Username:<br> <input type="text" name="username" id="username">
                <br>
                Password:<br> <input type="text" name="password" id="password">
            
                <div>
                    <button type="submit" value="login">Login</button>
                    <button type="submit" value="register">Create Account</button>
                </div>
            </form>
        </center></div>
    </body>
</html>

