<html>
    <head>
        <link href="/css/my-books.css" rel="stylesheet" type="text/css">
        <script src="/js/my-books.js" type="module"></script>
    </head>
    <body>
        <div>
            <h1>My Books
            </h1>
        </div>
        <div>
            <div id="top">
                Bookshelves
            </div>
            <div id="left">
                <div class="usershelf">
                    <a href="/user/books/all.html">All</a>
                </div> 
                <div class="usershelf">
                    <a href="/user/books/read.html">Read</a>
                </div> 
                <div class="usershelf">
                    <a href="/user/books/currentlyReading.html">Currently Reading</a>
                </div> 
                <div class="usershelf">
                    <a href="/user/books/wantToRead.html">Want to Read</a>
                </div> 
            </div>
            <div id="right">
                <table id="books">
                    <thead>
                        <tr id="booksHeader">
                            <th alt="cover">
                                cover
                            </th>
                            <th alt="title">
                                title
                            </th>
                            <th alt="author">
                                author
                            </th>
                            <th alt="action">
                                action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </body>
</html>