<html>
    <head>
        <link href="/css/books.css" rel="stylesheet" type="text/css">
        <script src="/js/recommend.js" type="module"></script>
    </head>
    <body>
        <div id="books">
        </div>
        <div id="loading-message" style="display: none;">Loading Popular Books...</div>
    </body>
</html>